<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> 
            <span>
              <img alt="image" class="img-circle" src="{{manage_assets}}/images/profile_small.jpg" />
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear"> 
                <span class="block m-t-xs"> 
                  <strong class="font-bold">{{ username }}</strong>
                </span> 
                <span class="text-muted text-xs block">Welcome<b class="caret"></b></span> 
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="/account/password">{{ __('Change password') }}</a></li>
              <li class="divider"></li>
              <li><a href="/account/logout">{{ __('Logout') }}</a></li>
            </ul>
          </div>
          <div class="logo-element">
            GL
          </div>
        </li>
      </ul>
    </div>
  </nav>