<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message">{{title}}</span>
        </li>
        <li>
          <a href="/account/logout">
            <i class="fa fa-sign-out"></i> {{ __('Logout') }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>{{title}}</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/">{{ __('Home') }}</a>
        </li>
        {% for item in breadcrumbs %}
        <li class="">{%if item.url %}<a href="{{item.url}}">{{item.title}}</a>{% else %}{{item.title}}{% endif %}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>