<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message">{{title}}</span>
        </li>
        <!-- <li id="message" class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope"></i> <span class="label label-warning" data-bind="text: count"></span>
          </a>
          <ul class="dropdown-menu dropdown-messages"> -->
            <!-- ko foreach: data -->
            <!-- <li>
              <div class="dropdown-messages-box">
                <div class="media-body">
                  <a class="pull-left">
                    <img alt="image" class="img-circle" src="{{manage_assets}}/images/profile_small.jpg">
                  </a>
                  <strong data-bind="text: subject"></strong><br/>
                  <small data-bind="text: message"></small><br/>
                  <small class="text-muted" data-bind="text: dateTimeFormat(created_at)"></small>
                  <small class="btn btn-xs btn-white pull-right" data-bind="click:$parent.read"><i class="fa fa-thumbs-up"></i>标记已读</small>
                </div>
              </div>
            </li>
            <li class="divider"></li> -->
            <!-- /ko -->
            <!-- <li>
              <div class="text-center link-block">
                <a href="/message"><i class="fa fa-envelope"></i> <strong>查看全部消息</strong></a>
              </div>
            </li>
          </ul>
        </li> -->
        <li>
          <a href="/account/logout">
            <i class="fa fa-sign-out"></i> {{ __(900003) }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>{{title}}</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/">{{ __(900001) }}</a>
        </li>
        {% for item in breadcrumbs %}
        <li class="">{%if item.url %}<a href="{{item.url}}">{{item.title}}</a>{% else %}{{item.title}}{% endif %}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-lg-2">
    </div>
  </div>