<div id="modal-user-update" class="modal inmodal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated ">
      <form id="form-user-update" action="/manage/api/user" method="put" novalidate="novalidate">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">修改用户</h4>
        </div>
        <div class="modal-body overflow-visible">
          <div class="ibox-content">
            <input name="id" type="text" class="hidden" data-bind="value: id">
            <div class="form-group">
              <label>账号</label>
              <input disabled="disabled" name="name" type="text" class="form-control" data-bind="value:name">
            </div>
            <div class="form-group">
              <label>姓名</label>
              <input name="truename" type="text" class="form-control" data-bind="value:truename">
            </div>
            <div class="form-group">
              <label>电子邮箱</label>
              <input name="email" type="text" class="form-control" data-bind="value:email">
            </div>
            <div class="form-group">
              <label>角色</label>
              <select name="roles" data-placeholder=" " class="chosen-select form-control" data-bind="options: roleList,optionsText: 'name',optionsValue: 'id', selectedOptions: user_role"
                multiple="multiple" tabindex="4"></select>
            </div>
            <div class="form-group">
              <label>状态</label>
              <select data-placeholder="" class="chosen-select" data-bind="value: status" tabindex="2">
                <option value="0">禁止登录</option>
                <option value="1">正常</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm" data-dismiss="modal">
            <i class="icon-remove"></i>取消</button>
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="icon-ok"></i>确认</button>
        </div>
      </form>
    </div>
  </div>
</div>