<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}" />
    <link rel="shortcut icon" type="text/css" href="{{manage_assets}}/images/favicon.ico" />

    <link href="{{manage_assets}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{manage_assets}}/css/font-awesome.min.css" rel="stylesheet">
    <!-- Toastr -->
    <link href="{{manage_assets}}/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{{manage_assets}}/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- DataTables style -->
    <link href="{{manage_assets}}/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <!-- Chosen style -->
    <link href="{{manage_assets}}/css/plugins/chosen//bootstrap-chosen.css" rel="stylesheet">{% block css %} {% endblock %}
    <link href="{{manage_assets}}/css/animate.css" rel="stylesheet">
    <link href="{{manage_assets}}/css/style.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        {% block navbar %}{% include "manage/partials/navbar.html" %}{% endblock %}
        <div id="page-wrapper" class="gray-bg">
            {% block navtop %}{% include "manage/partials/navtop.html" %}{% endblock %} {% block body %}{% endblock %} {% block footer
            %}{% include "manage/partials/footer.html" %}{% endblock %}
        </div>
    </div>
    <!-- Mainly scripts -->
    <script type="text/javascript" src="{{manage_assets}}/js/jquery-2.1.1.js"></script>
    <!-- <script>if (typeof module === 'object') {window.jQuery = window.$ = module.exports;};</script> -->
    <script type="text/javascript" src="{{manage_assets}}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/moment.min.js"></script>
    <!-- Toastr -->
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/pace/pace.min.js"></script>
    <!-- Sweet alert -->
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- DataTables-->
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Chosen -->
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/chosen/chosen.jquery.js"></script>
    <!-- Validate-->
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/plugins/validate/additional-methods.js"></script>
    <!-- Custom and plugin javascript -->
    <script type="text/javascript" src="{{manage_assets}}/js/inspinia.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="{{manage_assets}}/js/gl-admin.js"></script> {% block script %} {% endblock %}
</body>

</html>